.hoverSlideLeft {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 100%;
  content: "";
  -webkit-transition: left 400ms ease;
  -moz-transition: left 400ms ease;
  -o-transition: left 400ms ease;
  -ms-transition: left 400ms ease;
  transition: left 400ms ease;
}
.hoverSlideRight {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  content: "";
  -webkit-transition: right 400ms ease;
  -moz-transition: right 400ms ease;
  -o-transition: right 400ms ease;
  -ms-transition: right 400ms ease;
  transition: right 400ms ease;
}
.hoverSlideUp {
  position: absolute;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  -webkit-transition: top 400ms ease;
  -moz-transition: top 400ms ease;
  -o-transition: top 400ms ease;
  -ms-transition: top 400ms ease;
  transition: top 400ms ease;
}
html.csstransitions.csstransforms3d #menu,
html.csstransitions.csstransforms3d .navbar.main,
html.csstransitions.csstransforms3d #footer {
  visibility: hidden;
}
html.csstransitions.csstransforms3d #sidebar-discover-wrapper #logoWrapper,
html.csstransitions.csstransforms3d #sidebar-discover-wrapper #logoWrapper * {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}
html.csstransitions.csstransforms3d #sidebar-discover-wrapper > ul {
  -webkit-transition: width 500ms ease;
  -moz-transition: width 500ms ease;
  -o-transition: width 500ms ease;
  -ms-transition: width 500ms ease;
  transition: width 500ms ease;
}
html.csstransitions.csstransforms3d #sidebar-discover-wrapper > ul > li > a {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
html.csstransitions.csstransforms3d #sidebar-discover-wrapper > ul > li > a > i,
html.csstransitions.csstransforms3d #sidebar-discover-wrapper > ul > li > a > i:before {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
html.csstransitions.csstransforms3d #sidebar-discover-wrapper > ul > li > a span {
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
html.csstransitions.csstransforms3d .navbar.main .dropdown.open .dropdown-menu {
  -webkit-animation: fadeInUp 200ms linear;
  -moz-animation: fadeInUp 200ms linear;
  -ms-animation: fadeInUp 200ms linear;
}
html.csstransitions.csstransforms3d .btn,
html.csstransitions.csstransforms3d .timeline-activity li i.list-icon {
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
html.csstransitions.csstransforms3d [data-toggle="gridalicious"] .widget-pinterest {
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  transition: all 100ms ease;
}
html.csstransitions.csstransforms3d [data-toggle="gridalicious"] .widget-pinterest .widget-body .thumb {
  -webkit-transition: all 2000ms ease;
  -moz-transition: all 2000ms ease;
  -o-transition: all 2000ms ease;
  -ms-transition: all 2000ms ease;
  transition: all 2000ms ease;
}
html.csstransitions.csstransforms3d [data-toggle="gridalicious"] .widget-pinterest .widget-body .description {
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
html.csstransitions.csstransforms3d [data-toggle="gridalicious"] .widget-pinterest:hover {
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  transition: all 1000ms ease;
  z-index: 1000;
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -o-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}
html.csstransitions.csstransforms3d [data-toggle="gridalicious"] .widget-pinterest:hover .thumb {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}
@-moz-keyframes shake {
  0% {
    -moz-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -moz-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -moz-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -moz-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -moz-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -moz-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -moz-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -moz-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -moz-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -moz-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -moz-transform: translate(1px, -2px) rotate(-1deg);
  }
}
@-ms-keyframes shake {
  0% {
    -ms-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -ms-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -ms-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -ms-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -ms-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -ms-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -ms-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -ms-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -ms-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -ms-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -ms-transform: translate(1px, -2px) rotate(-1deg);
  }
}
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(200%) scale(0.5) translateZ(1px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%) scale(1) translateZ(1px);
    opacity: 1;
  }
}
@-moz-keyframes moveFromBottom {
  from {
    -moz-transform: translateY(200%) scale(0.5) translateZ(1px);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0%) scale(1) translateZ(1px);
    opacity: 1;
  }
}
@-ms-keyframes moveFromBottom {
  from {
    -ms-transform: translateY(200%) scale(0.5) translateZ(1px);
    opacity: 0;
  }
  to {
    -ms-transform: translateY(0%) scale(1) translateZ(1px);
    opacity: 1;
  }
}
@-webkit-keyframes moveFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200%) translateZ(1px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%) translateZ(1px);
  }
}
@-moz-keyframes moveFromTop {
  from {
    opacity: 0;
    -moz-transform: translateY(-200%) translateZ(1px);
  }
  to {
    opacity: 1;
    -moz-transform: translateY(0%) translateZ(1px);
  }
}
@-ms-keyframes moveFromTop {
  from {
    opacity: 0;
    -ms-transform: translateY(-200%) translateZ(1px);
  }
  to {
    opacity: 1;
    -ms-transform: translateY(0%) translateZ(1px);
  }
}
@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%) translateZ(1px);
  }
  to {
    -webkit-transform: translateX(0%) translateZ(1px);
  }
}
@-moz-keyframes moveFromLeft {
  from {
    -moz-transform: translateX(-100%) translateZ(1px);
  }
  to {
    -moz-transform: translateX(0%) translateZ(1px);
  }
}
@-ms-keyframes moveFromLeft {
  from {
    -ms-transform: translateX(-100%) translateZ(1px);
  }
  to {
    -ms-transform: translateX(0%) translateZ(1px);
  }
}
@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%) translateZ(1px);
  }
  to {
    -webkit-transform: translateX(0%) translateZ(1px);
  }
}
@-moz-keyframes moveFromRight {
  from {
    -moz-transform: translateX(100%) translateZ(1px);
  }
  to {
    -moz-transform: translateX(0%) translateZ(1px);
  }
}
@-ms-keyframes moveFromRight {
  from {
    -ms-transform: translateX(100%) translateZ(1px);
  }
  to {
    -ms-transform: translateX(0%) translateZ(1px);
  }
}
@-webkit-keyframes moveFromLeftRotate {
  from {
    -webkit-transform: translateX(-100%) rotate(-90deg) translateZ(1px);
  }
  to {
    -webkit-transform: translateX(0%) rotate(0deg) translateZ(1px);
  }
}
@-moz-keyframes moveFromLeftRotate {
  from {
    -moz-transform: translateX(-100%) rotate(-90deg) translateZ(1px);
  }
  to {
    -moz-transform: translateX(0%) rotate(0deg) translateZ(1px);
  }
}
@-ms-keyframes moveFromLeftRotate {
  from {
    -ms-transform: translateX(-100%) rotate(-90deg) translateZ(1px);
  }
  to {
    -ms-transform: translateX(0%) rotate(0deg) translateZ(1px);
  }
}
@-webkit-keyframes smallToBig {
  from {
    -webkit-transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes smallToBig {
  from {
    -moz-transform: scale(0.1);
  }
  to {
    -moz-transform: scale(1);
  }
}
@-ms-keyframes smallToBig {
  from {
    -ms-transform: scale(0.1);
  }
  to {
    -ms-transform: scale(1);
  }
}
@-webkit-keyframes bigToSmall {
  from {
    -webkit-transform: scale(2);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes bigToSmall {
  from {
    -moz-transform: scale(2);
  }
  to {
    -moz-transform: scale(1);
  }
}
@-ms-keyframes bigToSmall {
  from {
    -ms-transform: scale(2);
  }
  to {
    -ms-transform: scale(1);
  }
}
@-webkit-keyframes moveFromLeftAndGrowAndRotate {
  from {
    -webkit-transform: translateX(-100%) rotate(-90deg) scale(0.1) translateZ(1px);
  }
  to {
    -webkit-transform: translateX(0%) rotate(0deg) scale(1) translateZ(1px);
  }
}
@-moz-keyframes moveFromLeftAndGrowAndRotate {
  from {
    -moz-transform: translateX(-100%) rotate(-90deg) scale(0.1) translateZ(1px);
  }
  to {
    -moz-transform: translateX(0%) rotate(0deg) scale(1) translateZ(1px);
  }
}
@-ms-keyframes moveFromLeftAndGrowAndRotate {
  from {
    -ms-transform: translateX(-100%) rotate(-90deg) scale(0.1) translateZ(1px);
  }
  to {
    -ms-transform: translateX(0%) rotate(0deg) scale(1) translateZ(1px);
  }
}
@-webkit-keyframes moveFromRightAndGrowAndRotate {
  from {
    -webkit-transform: translateX(100%) rotate(90deg) scale(0.1) translateZ(1px);
  }
  to {
    -webkit-transform: translateX(0%) rotate(0deg) scale(1) translateZ(1px);
  }
}
@-moz-keyframes moveFromRightAndGrowAndRotate {
  from {
    -moz-transform: translateX(100%) rotate(90deg) scale(0.1) translateZ(1px);
  }
  to {
    -moz-transform: translateX(0%) rotate(0deg) scale(1) translateZ(1px);
  }
}
@-ms-keyframes moveFromRightAndGrowAndRotate {
  from {
    -ms-transform: translateX(100%) rotate(90deg) scale(0.1) translateZ(1px);
  }
  to {
    -ms-transform: translateX(0%) rotate(0deg) scale(1) translateZ(1px);
  }
}
/*# sourceMappingURL=animations.css.map */