.scripts-async .container-fluid {
  visibility: hidden;
}
.innerLR {
  padding-left: 14px;
  padding-right: 14px;
  position: relative;
}
.innerTB {
  padding-top: 14px;
  padding-bottom: 14px;
  position: relative;
}
.innerAll {
  padding: 14px;
  position: relative;
}
.innerL {
  padding-left: 14px;
  position: relative;
}
.innerR {
  padding-right: 14px;
  position: relative;
}
.innerT {
  padding-top: 14px;
  position: relative;
}
.innerB {
  padding-bottom: 14px;
  position: relative;
}
.center {
  text-align: center !important;
}
.margin-none {
  margin: 0 !important;
}
.margin-top-none {
  margin-top: 0 !important;
}
.margin-bottom-none {
  margin-bottom: 0 !important;
}
.margin-left-none {
  margin-left: 0 !important;
}
.margin-right-none {
  margin-right: 0 !important;
}
.padding-none {
  padding: 0 !important;
}
.padding-top-none {
  padding-top: 0 !important;
}
.padding-bottom-none {
  padding-bottom: 0 !important;
}
.padding-left-none {
  padding-left: 0 !important;
}
.padding-right-none {
  padding-right: 0 !important;
}
.padding-none-TB {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.padding-none-LR {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.border-none {
  border: none !important;
}
.border-top-none {
  border-top: none !important;
}
.border-bottom-none {
  border-bottom: none !important;
}
.border-left-none {
  border-left: none !important;
}
.border-right-none {
  border-right: none !important;
}
.box-shadow-none {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.bg-container {
  background: #eaeaea !important;
}
.bg-gray {
  background: #f9f9f9 !important;
}
.bg-gray-dark {
  background: #f2f2f2 !important;
}
.bg-none {
  background: none !important;
}
.bg-white {
  background: #fff !important;
}
.bg-success {
  background: #8bbf61 !important;
  color: #fff;
}
.bg-info {
  background: #4193d0 !important;
  color: #fff;
}
.bg-info-dark {
  background: #2c79b2 !important;
}
.bg-inverse {
  background: #424242 !important;
  color: #fff;
}
.bg-inverse-faded {
  background: rgba(66, 66, 66, 0.5) !important;
}
.bg-primary {
  background: #3695d5 !important;
  color: #fff;
}
.bg-primary-light {
  background: #c1def2 !important;
}
.bg-primary-light *:not(.btn) {
  border-color: #7ebbe4 !important;
}
.bg-primary-light[class*="border-"],
.bg-primary-light.box-generic {
  border-color: #acd3ee !important;
}
.bg-primary-light .caret {
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
  border-top-color: transparent !important;
  border-right-color: #7ebbe4 !important;
}
.bg-warning {
  background: #ab7a4b;
}
.bg-lightred {
  background: #E15258;
}
.bg-mustard {
  background: #D4D172;
}
.bg-purple {
  background: #9D8AC7;
}
.bg-gray-hover:hover {
  background: #f7f7f7;
}
.relativeWrap {
  position: relative;
}
.display-block {
  display: block !important;
}
.display-block-inline {
  display: inline-block !important;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.text-white {
  color: #fff;
}
.text-info {
  color: #4193d0;
}
.text-primary {
  color: #3695d5 !important;
}
.text-success {
  color: #8bbf61;
}
.text-regular {
  color: #444 !important;
}
.text-faded {
  color: #d7d7d7 !important;
}
.text-muted-dark {
  color: #a2a2a2;
}
.text-muted-darker {
  color: #898989;
}
.text-weight-regular {
  font-weight: normal !important;
}
.text-weight-normal {
  font-weight: 400;
}
.text-condensed {
  letter-spacing: -2px;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-small {
  font-size: 12px;
}
.text-larger {
  font-size: 14px;
}
.text-medium {
  font-size: 30px;
  line-height: 30px;
}
.text-large {
  font-size: 35px !important;
  line-height: 40px !important;
}
.text-xlarge {
  font-size: 50px;
  line-height: 50px;
}
.text-xxlarge {
  font-size: 70px;
  line-height: 70px;
}
.text-underline {
  text-decoration: underline;
}
.inline-block {
  display: inline-block !important;
}
.overflow-y-auto {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}
.applyNiceScroll {
  overflow-y: auto;
}
.overflow-hidden {
  position: relative;
  overflow: hidden;
}
.containerBg {
  background: #eaeaea;
}
.whiteBg {
  background: #fff;
}
.hide2 {
  display: none;
}
.border-top {
  border-top: 1px solid #efefef;
}
.border-right {
  border-right: 1px solid #efefef;
}
.border-bottom {
  border-bottom: 1px solid #efefef !important;
}
.border-left {
  border-left: 1px solid #efefef;
}
.half.innerAll {
  padding: 7px !important;
}
.half.innerLR {
  padding-left: 7px !important;
  padding-right: 7px !important;
}
.half.innerTB {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}
.half.innerT {
  padding-top: 7px !important;
}
.half.innerB {
  padding-bottom: 7px !important;
}
.half.innerL {
  padding-left: 7px !important;
}
.half.innerR {
  padding-right: 7px !important;
}
.inner-2x.innerAll {
  padding: 28px !important;
}
.inner-2x.innerTB {
  padding-top: 28px !important;
  padding-bottom: 28px !important;
}
.inner-2x.innerLR {
  padding-left: 28px !important;
  padding-right: 28px !important;
}
.inner-2x.padding-bottom-none {
  padding-bottom: 0 !important;
}
.inner-2x.padding-right-none {
  padding-right: 0 !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.overflow-x {
  overflow-x: auto;
}
.unscrollable {
  overflow: hidden !important;
}
.fixed-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.height-auto {
  height: auto !important;
}
div.row,
ul.row {
  margin: 0 -7px;
}
.row-merge {
  margin: 0 !important;
}
div[class*="col-xs-"],
div[class*="col-sm-"],
div[class*="col-md-"],
div[class*="col-lg-"],
li[class*="col-xs-"],
li[class*="col-sm-"],
li[class*="col-md-"],
li[class*="col-lg-"] {
  padding: 0 7px;
}
.widget .row-merge {
  margin: 0;
}
.row-merge {
  position: relative;
}
.row-merge > [class*="col-"] {
  padding: 0;
}
.row-merge > [class*="col-"] ~ [class*="col-"] {
  position: static;
}
.row-merge > [class*="col-"] ~ [class*="col-"]:after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #e2e1e1;
  content: "";
}
.row-merge.border-top,
.row-merge ~ .row-merge {
  border-top: 1px solid #e2e1e1;
}
.row-merge.border-bottom {
  border-bottom: 1px solid #e2e1e1;
}
.row-merge .fill-column:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: inherit;
  background: #f4f4f4;
  content: "";
}
@media (min-width: 768px) and (max-width: 991px) {
  .row-merge > [class*="col-sm-12"] ~ [class*="col-sm-12"] {
    position: relative;
  }
  .row-merge > [class*="col-sm-12"] ~ [class*="col-sm-12"]:after {
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    width: auto;
    height: 1px;
    background: #e2e1e1;
    content: "";
  }
}
.row-icons {
  padding: 10px 0;
  margin: 0;
}
.row-icons [class*="col"] {
  margin-bottom: 14px;
  padding: 0;
}
.row-icons [class*="col"] a {
  line-height: 24px;
  display: inline-block;
  color: #1d1d1b;
}
.row-icons [class*="col"][class*="glyphicons"] {
  padding-left: 50px;
}
.row-icons [class*="col"][class*="glyphicons"] i:before {
  left: 10px;
  top: 10px;
}
.row-icons [class*="col"] i.fa {
  vertical-align: middle;
  margin: 0 10px;
}
.row-icons [class*="col"] i,
.row-icons [class*="col"] i:before {
  color: #3695d5;
  font-size: 24px;
}
.row-icons [class*="col"] span {
  padding-left: 5px;
}
.ui-tooltip {
  display: none !important;
}
.rounded-none {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.rounded-left {
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}
.rounded-right {
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}
.notebook {
  min-height: 60px;
  line-height: 30px;
  background: -webkit-linear-gradient(bottom, #f0f0f0 0%, #ffffff 5%) 0 0;
  background: -moz-linear-gradient(bottom, #f0f0f0 0%, #ffffff 5%) 0 0;
  background: linear-gradient(bottom, #f0f0f0 0%, #ffffff 5%) 0 0;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px;
}
.notebook ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.notebook ul li {
  line-height: 30px;
}
.bg-success .notebook {
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, #8bbf61 5%) 0 0;
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, #8bbf61 5%) 0 0;
  background: linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, #8bbf61 5%) 0 0;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  color: #fff;
}
.bg-inverse .notebook {
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, #424242 5%) 0 0;
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, #424242 5%) 0 0;
  background: linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, #424242 5%) 0 0;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  color: #fff;
}
.bg-primary .notebook {
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, #3695d5 5%) 0 0;
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, #3695d5 5%) 0 0;
  background: linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, #3695d5 5%) 0 0;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  color: #fff;
}
.bg-gray .notebook {
  background: -webkit-linear-gradient(bottom, #f0f0f0 0%, #f9f9f9 5%) 0 0;
  background: -moz-linear-gradient(bottom, #f0f0f0 0%, #f9f9f9 5%) 0 0;
  background: linear-gradient(bottom, #f0f0f0 0%, #f9f9f9 5%) 0 0;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px;
}
/*# sourceMappingURL=helpers.css.map */