.sidebar.sidebar-discover #menu {
  top: 0;
  width: 236px;
  background: #3f3f3f;
  bottom: 0;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper .sidebar-discover-menu {
  display: none;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper #discover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  background: #3f3f3f;
  position: absolute;
  top: 0;
  right: 0;
  width: 180px;
  z-index: 1;
  overflow: hidden;
  border-top: 1px solid #e0e0e0;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper #discover .border-bottom {
  border-color: #3f3f3f;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper #discover ul {
  list-style: none;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper #discover ul li {
  border-bottom: 1px solid #efefef;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper #discover ul li:last-of-type {
  border-color: #e0e0e0;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper #discover ul li a {
  position: relative;
  text-align: left;
  height: 44px;
  line-height: 44px;
  padding-left: 20px;
  display: block;
  font-size: 14px;
  color: #676767;
  font-weight: 600;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper #discover ul li a i {
  margin-right: 10px;
  color: #cdcdcd;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper #discover ul li a .badge {
  position: absolute;
  top: 12px;
  right: 10px;
  padding: 3px 5px;
  font-size: 11px;
  font-weight: 700;
  background: #3695d5;
  border-color: #3695d5;
  color: #fff;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper #discover ul li a:hover {
  background-color: #fff;
  color: #000;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper #discover ul li.active {
  border-color: #e0e0e0;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper #discover ul li.active > a {
  background: #ffffff;
  color: #3695d5;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper #discover ul li.active span.badge {
  border-color: #2c2c2c;
  background: #2c2c2c;
  color: #fff;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.open,
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.mini {
  background-color: #f9f9f9;
  border-right: 3px solid #e2e1e1;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.open #discover,
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.mini #discover {
  opacity: 1;
  background: #f9f9f9;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.open #discover .close-discover,
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.mini #discover .close-discover {
  position: absolute;
  right: 10px;
  padding: 0 2px;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.open > ul,
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.mini > ul {
  width: 56px;
  overflow: hidden;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.open > ul > li > a > i,
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.mini > ul > li > a > i {
  width: 50px;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.open > ul > li > a > i:before,
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.mini > ul > li > a > i:before {
  width: 50px;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.open > ul > li > a.open > i:before,
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.mini > ul > li > a.open > i:before {
  color: #3695d5;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.open > ul > li > a:hover > i:before,
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.mini > ul > li > a:hover > i:before {
  color: #fff;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.open > ul > li > a span,
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.mini > ul > li > a span {
  opacity: 0;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.open > ul > li > a[data-toggle="sidebar-discover"]:after,
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.mini > ul > li > a[data-toggle="sidebar-discover"]:after {
  display: none;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.open > ul > li.active > a,
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.mini > ul > li.active > a {
  background: none;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.open > ul > li > a.open,
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.mini > ul > li > a.open {
  background: #292929;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.open > ul > li.active > a.open i:before,
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.mini > ul > li.active > a.open i:before {
  color: #fff;
}
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.open > ul > li.active > a,
.sidebar.sidebar-discover #menu #sidebar-discover-wrapper.mini > ul > li.active > a {
  background: #3695d5;
}
.sidebar.sidebar-discover #menu > div {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.sidebar.sidebar-discover #menu > div > ul {
  padding: 0;
  width: 236px;
  position: absolute;
  left: 0;
  z-index: 2;
  background: #3f3f3f;
  min-height: 100%;
}
.sidebar.sidebar-discover #menu > div > ul > li {
  position: relative;
  height: 56px;
  border-bottom: 1px solid #444444;
  padding: 0;
}
.sidebar.sidebar-discover #menu > div > ul > li > a {
  padding: 0 0 0 14px;
  display: block;
  color: #999999;
  font-weight: 600;
  text-decoration: none;
  height: 56px;
  line-height: 56px;
  position: relative;
  font-size: 14px;
  border-left: 4px solid #353535;
  border-right: 4px solid #353535;
}
.sidebar.sidebar-discover #menu > div > ul > li > a[data-toggle="sidebar-discover"]:after {
  display: block;
  content: "\f054";
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  color: #595959;
  position: absolute;
  right: 10px;
  top: 0;
  height: 56px;
  line-height: 56px;
}
.sidebar.sidebar-discover #menu > div > ul > li > a > span {
  position: absolute;
  left: 50px;
}
.sidebar.sidebar-discover #menu > div > ul > li > a > span.badge {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 33px;
  left: auto;
  padding: 3px 5px;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  background: #383838;
  border-color: #383838;
}
.sidebar.sidebar-discover #menu > div > ul > li > a > i {
  display: inline-block;
  height: 56px;
  vertical-align: middle;
  width: 40px;
}
.sidebar.sidebar-discover #menu > div > ul > li > a > i:before {
  color: #727272;
  position: relative;
  text-align: left;
  top: -2px;
  left: auto;
  width: 40px;
  font-size: 22px;
  height: 56px;
  line-height: 56px;
}
.sidebar.sidebar-discover #menu > div > ul > li > a:hover {
  background: #353535;
  color: #fff;
}
.sidebar.sidebar-discover #menu > div > ul > li > a:hover > i:before {
  color: #fff;
}
.sidebar.sidebar-discover #menu > div > ul > li > a:hover[data-toggle="sidebar-discover"]:after {
  color: #fff;
}
.sidebar.sidebar-discover #menu > div > ul > li > a:hover span.badge {
  background: #2c2c2c;
  border-color: #2c2c2c;
  color: #fff;
}
.sidebar.sidebar-discover #menu > div > ul > li.active > a {
  background: #3695d5;
  border-left: 4px solid #2780bb;
  border-right: 4px solid #2780bb;
  color: #ffffff;
}
.sidebar.sidebar-discover #menu > div > ul > li.active > a > i:before {
  color: #fff;
}
.sidebar.sidebar-discover #menu > div > ul > li.active > a[data-toggle="sidebar-discover"]:after {
  color: #fff;
}
.sidebar.sidebar-discover #menu > div > ul > li.active span.badge {
  background: #fff;
  border-color: #fff;
  color: #2c2c2c;
}
.sidebar.sidebar-discover #menu > div > ul > li.active:hover span.badge {
  background: #b5d8ef;
  border-color: #b5d8ef;
  color: #2c2c2c;
}
.sidebar.sidebar-discover .sidebar-discover-mini #content {
  margin-left: 56px;
}
.sidebar.sidebar-discover .sidebar-discover-mini #menu {
  width: 56px;
}
/*# sourceMappingURL=menus.sidebar.discover.css.map */